[mysqld]
skip-host-cache
skip-name-resolve

[mysql]

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M


[mysqld]

port            = 3306

pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock

datadir		= /var/lib/mysql
tmpdir          = /tmp

# By default we only accept connections from localhost
#bind-address	= 127.0.0.1
bind-address	= 0.0.0.0

log-error	= /var/log/mysql/mysql_error.log

general_log             = 1
general_log_file        = /var/log/mysql/mysql_query.log

slow_query_log					= on
slow-query-log-file				= /var/log/mysql/mysql_slow.log
long_query_time					= 3
#log_queries_not_using_indexes	= on
early-plugin-load				= ""

symbolic-links=0

skip-external-locking

lower_case_table_names = 1

default-time-zone = '+8:00'
log_timestamps = SYSTEM

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

default-authentication-plugin=mysql_native_password

#validate_password.check_user_name		= OFF
#validate_password.length 				= 6
#validate_password.mixed_case_count		= 0
#validate_password.number_count			= 0
#validate_password.policy				= 0
#validate_password.special_char_count	= 0

sql_mode = ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
